html, body {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  margin: 34px 0;
}

.logo {
  width: 250px;
  height: 150px;
}

.logo-row {
  max-width: 1200px;
  margin: auto;
}

.tech-logos {
  width: 125px;
  height: 125px;
}

.nav {
  justify-content: center;

  .nav-link {
    &, &:active, &:hover, &:visited {
      color: black !important;
    }
  }
}

.hero-text {
  max-width: 500px;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  margin-right: 6px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &.align-center {
    align-items: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-item {
  display: flex;
  margin-left: 8px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.about-container {
  max-width: 500px;
  margin: auto 0;
}
