<div class="main-container-flex">
  <div>
    <div class="flex row">
      <%= image_tag "profile_pic.jpg", alt: "Profile Avatar", class: "avatar" %>
      <div class="demographics">
        <div class="flex">
          <span class="material-symbols-outlined">
            person
          </span>
          <span>Hi, I'm Robert Garcia</span>
        </div>
        <div class="flex">
          <span class="material-symbols-outlined">
            devices
          </span>
          <span>Software Engineer</span>
        </div>
        <div class="flex">
          <span class="material-symbols-outlined">
            home
          </span>
          <span>Miami, Florida</span>
        </div>   
      </div>
    </div>
    <div>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>Ruby on Rails</li>
        <li>React.js</li>
        <li>Next.js</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="about-container bordered">
      About This page
    </div>
    <div>
      <p>TESTING</p>
    </div>
  </div>
</div>
